
:root {
    --sidebar-background: hsl(var(--secondary));
    --sidebar-foreground: hsl(var(--secondary-foreground));
    --sidebar-border: hsl(var(--border));
    --sidebar-ring: hsl(var(--ring));
    --sidebar-accent: hsl(var(--primary));
    --sidebar-accent-foreground: hsl(var(--primary-foreground));
}

.dark {
    --sidebar-background: hsl(var(--secondary));
    --sidebar-foreground: hsl(var(--secondary-foreground));
    --sidebar-border: hsl(var(--border));
    --sidebar-ring: hsl(var(--ring));
    --sidebar-accent: hsl(var(--primary));
    --sidebar-accent-foreground: hsl(var(--primary-foreground));
}
